.about-image {
  width: 100%;
  height: 400px;
  grid-column: span 2;

  @include media(">medium") {
    height: auto;
    grid-column: auto;
  }
}

/***
 * 1. Find color like this:
 * - create palette our of image: https://www.canva.com/color-palette/
 * - get complementary color to that palette with: https://color.adobe.com/
 */
.about-text {
  background: #183e30; /* 1. */
  padding: 60px 60px 60px 50px;
  grid-column: span 2;

  @include media(">medium") {
    grid-column: auto;
  }
}

.about-text__link {
  white-space: nowrap;
}

.about-text__text {
  margin-bottom: 30px;
  display: block;
}
