.footer__social {
  display: inline-block;
  margin: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.footer__icon {
  height: 15px;
  margin-left: 5px;
  width: 20px;
  vertical-align: middle;
  fill: $white;

  &:first-child {
    margin-left: 0;
  }
}

.footer__copyright {
  margin: 10px;
}

.footer__ps {
  font-size: 0.8rem;
}
