.projects-dragselect {
  background: #7A8A7A;
}

.projects-dragselect__title {
  margin-bottom: -5px;
}

.projects-dragselect__text {
  margin-top: -15px;
}

// .project-dragselect__stars {
//   top: auto;
//   bottom: 20px;
// }
