.projects-card__dragselect {
  background: $red;
}

.projects-card__dragndrop {
  background: $green;
}

.projects-card__blog {
  background: $gold;
}

.about-text__link {
  white-space: nowrap;
}

.about-text__text {
  margin-bottom: 30px;
}
