.projects-dragndrop {
  background: #D4CEAE;
}

.projects-dragndrop__title {
  margin-bottom: 0;
}

.projects-dragndrop__text {
  margin-top: -20px;
}

// .project-dragndrop__stars {
//   top: auto;
//   right: auto;
//   left: 20px;
//   bottom: 20px;
// }
