<section id="projects" class="section projects" role="region" aria-label="Work I do in my free time">
  <h2 class="h2 section__title projects__title copy">
    {{ projects.title }}
  </h2>
  <div class="section__container projects__container">
    {% for project in projects.all %}
      {% if project.title === 'Accessibility' %}
        {% include "partials/projects/projects-accessibility.html" %}
      {% else %}
        <div class="section-{{ project.side }} section-card projects-card projects-card__{{ project.title | lower }}">
          <a href="{{ project.href }}" class="section-card__inner section-card__link">
            <div class="section-card__container">
              <h3 class="h2 copy section-card__title up">{{ project.title }}</h3>
              <p class="copy down">{{ project.description }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
