<section id="projects" class="section projects" role="region" aria-label="Work I do in my free time">
  <h2 class="h2 section__title projects__title copy">
    {{ projects.title }}
  </h2>
  <div class="section__container projects__container">
    {% for project in projects.all %}
      {% if project.title === 'Accessibility' %}
        {% include "partials/projects/projects-accessibility.html" %}
      {% elif project.title === 'DragSelect' %}
        {% include "partials/projects/projects-dragselect.html" %}
      {% elif project.title === 'DragNDrop' %}
        {% include "partials/projects/projects-dragndrop.html" %}
      {% elif project.title === 'Blog' %}
        {% import "macros/cards/cards-bg-img.html" as c %}
        {{ c.cards_bg_img(project, 'blog') }}
      {% endif %}
    {% endfor %}
  </div>
</section>