<div class="section-full section-card projects-card projects-accessibility">
  <div class="section-card__inner">
    <h3 class="h2 copy">{{ project.title }}</h3>
    <div class="projects-accessibility__objects">
      {% for i in range(0, 10) %}
        <div class="projects-accessibility__object circle" style="transform: rotate(20deg) translate3d({{ range(0, 4000) | random / 100 }}%, {{ range(0, 1000) | random / 100 }}%, 0px);"></div>
        <div class="projects-accessibility__object square" style="transform: translate3d({{ range(0, 4000) | random / 100 }}%, {{ range(0, 1000) | random / 100 }}%, 0px);"></div>
        <div class="projects-accessibility__object diamond" style="transform: rotate(45deg) translate3d({{ range(0, 4000) | random / 100 }}%, {{ range(0, 1000) | random / 100 }}%, 0px);"></div>
      {% endfor %}
    </div>
  </div>
</div>
