<div class="section-full cards projects-card projects-accessibility">
  <a href="https://learn-accessibility.org/" class="cards__inner cards__link">
    <div class="cards__award projects-accessibility__award up">
      <span>3x</span> <i class="fas fa-award"></i>
    </div>
    <div class="projects-accessibility__objects contract">
      {% for i in range(0, 10) %}
        <div class="projects-accessibility__object circle" style="transform: rotate(20deg) translate3d({{ range(0, 4000) | random / 100 }}%, {{ range(0, 1000) | random / 100 }}%, 0px);"></div>
        <div class="projects-accessibility__object square" style="transform: translate3d({{ range(0, 4000) | random / 100 }}%, {{ range(0, 1000) | random / 100 }}%, 0px);"></div>
        <div class="projects-accessibility__object diamond" style="transform: rotate(45deg) translate3d({{ range(0, 4000) | random / 100 }}%, {{ range(0, 1000) | random / 100 }}%, 0px);"></div>
      {% endfor %}
    </div>
    <div class="cards__container">
      <h3 class="cards__title h2 copy up">{{ project.title }}</h3>
      <div class="cards__bar projects-accessibility__bar expand"></div>
      <p class="down copy">
        {{ project.description }}
      </p>
    </div>
  </a>
</div>
