/**
 * This is a reset base for further formatting our buttons with modifiers to look either like buttons or text links.
 */
.button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  padding: 0;
  text-decoration: none;
}

.button--large {
  margin: 50px auto 150px auto;
  margin: 10vh auto 30vh auto;
  display: inherit;
}
