//
// VARIABLES
//

$breakpoints: (
  "small": 400px,
  "medium": 800px,
  "large": 1023px
);

// Colors
$blue: #96ddfb;
$red: #ed1c24;
$green: palegreen;
$gold: gold;
$body: #d79f94;

// Grays
$black: #000;
$blueGray: #819ea4;
$darkerGray: #222;
$darkGray: #333;
$gray: #707070;
$lightGray: #eee;
$white: #fff;

// Mains
$primary: $blue;

// Font stacks
$font-primary: "Fira Sans", sans-serif;
$font-secondary: "Playfair Display", serif;
$font-mono: "Fira Mono", monospace;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Mobile breakpoints
@mixin large {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
